<a href="https://colab.research.google.com/github/byronkamal/data_science/blob/master/Titanic/titanic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Checklist**
1. Definição do Problema
2. Obtenção dos Dados
3. Exploração dos Dados
4. Preparação dos Dados
5. Construção do Modelo
6. Avaliação

## 1. Definição do problema

## 2. Obtenção dos dados
[Os dados são disponilizados pelo Kaggle](https://www.kaggle.com/c/titanic/data) foram divididos em 2 grupos: 
- <p align='justify'>Dados de treinamento <i>(train.csv)</i>: essa dados servem para construir o modelo de machine learning. Nesse dataset há features sobre os passageiros e é informado se ele sobreviveu ou não.</p>
- <p align='justify'>Dados de teste <i>(test.csv)</i>: nesse dataset há dados que não foram "vistos" pelo modelo de machine learning e é em cima deles que a predição é feita avaliação do modelo. Aqui **não** é informado se o passageiro sobreviveu ou não.</p>

<p align='justify'>Para facilitar, os dados já estão disponíveis nessa mesma pasta do notebook.</p>

In [1]:
# importar os pacotes
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# permitir visualizar todas as colunas
pd.options.display.max_columns = None

# renderizar os gráficos no notebook
# %matplotlib inline

train = pd.read_csv('data/train.csv')
test = pd.read_csv('data/test.csv')


# verificando as dimensões do DataFrame
print("Variáveis(colunas):\t{}\nEntradas(linhas):\t{}".format(train.shape[1], train.shape[0]))

Variáveis(colunas):	12
Entradas(linhas):	891

## 3. Exploração dos Dados

<p align='justify'> A Exploração dos dados é uma parte importante dentro de Data
Science, pois aqui é realizada a análise das variáveis. Realizaremos a seguir alguns procedimentos como definir a váriavel alvo (target), dicionário de dados, visualização e correlação entre os dados. Esses procedimentos ajudam na análise dos dados. 
</p>

<p align='justify'> 
Como estamos trabalhando com Aprendizado Supervisionado, é necessário que exista uma váriavel alv, que no nosso caso é <i>Survived</i>. 
</p>

<br/>

**Vamos primeiramente identificar qual é o tipo de cada variável para depois montarmos nosso Dicionário de Dados**

In [2]:
# identificar o tipo de dados cada variável 
display(train.dtypes)

#ver as primeiras tuplas do dataset de treino
display(train.head())

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

### Dicionário de Dados
| Variável | Descrição | Key | Tipo de Dado |Tipo de variável|
|--|--|--|--|--|
|PassengerId|Número de indetificação de cada passageiro|-|int|Númérica Discreta - **Chave Primária**|
|Survived|informa se o passageiro sobreviveu ou não ao desastre|0 = Não, 1 = Sim|int|Númerica Discreta - **Alvo**|
|Pclass|Classe do bilhete|1 = 1ª classe, 2 = 2ª classe, 3 = 3º classe|int|Númerica Discreta|
|SibSp|Número de irmão/côjuges abordo no Titanic|-|int|Númerica Discreta|
|Parch|Número de pais/crianças abordos no Titanic|-|int|Númerica Discreta|
|Age|Idade do passageiro|-|float|Númerica Contínua|
|Fare|Preço da passagem|-|float|Númerica Contínua|
|Name|Nome do passageiro|-|object|Categórica|
|Sex|Sexo do passageiro|-|object|Categórica|
|Ticket|Número da passagem|-|object|Categórica|
|Cabin|Número da cabine do passageiro|-|object|Categórica|
|Embarked|Porto de embarque do passageiro|-|object|Categórica|